
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


@import "~bulma/bulma.sass";

html {
  background-color: whitesmoke;
}

.padding-top {
  padding-top: 40px;
}

.items {
  color: hsl(171, 100%, 41%);
}
